server:
  port: 8081

spring:
  application:
    name: ms-clientes
  datasource:
    url: jdbc:postgresql://localhost:5432/banking_clients
    username: postgres
    password: "1234"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    com.bank.clients: DEBUG
