server:
  port: 8082

spring:
  application:
    name: ms-cuentas
  datasource:
    url: jdbc:postgresql://localhost:5432/banking_accounts
    username: postgres
    password: "1234"
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    com.bank.accounts: DEBUG
